/* */
.section {
    width: var(--view-width);
    position: relative;
    z-index: 1;
}
.section.head {
    height: 80vh;
    background: var(--accent-color);
    z-index: 0;
}

.section-container {
    width: var(--view-width);
    height: 100%;
    display: flex;
}
.section-content {
    display: table;
    user-select: none;
}
.section.head .section-content {
    padding: 8px 32px;
    background: var(--transparent-box);
    backdrop-filter: blur(4px);
    margin: auto auto 6em;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 4px 4px var(--shadow);
    width: 40em;
    max-width: 60vw;
    display: block;
}

.section-t, .section-p {
    color: #FFF;
}
.section-t {
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 0 4px 4px var(--shadow);
    margin: 8px 0px;
}
.section-t.head {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.section-p.head {
    text-shadow: 0 3px 3px var(--shadow);
    text-align: center;
}

input.section-b.head {
    display: inline-block;
    color: #FFF;
    margin: 8px 8px 8px;
    padding: 12px 32px;
    border-radius: 4px;
    font-size: 1.2em;
    font-family: monospace;
    max-width: calc(100% - 16px);
}

input.section-b.head:hover {
    margin: 10px 8px 6px;
}

.wavy-border {
    position: absolute;
    width: 100vw;
    height: 180px;
    background-image: url(./img/waves.svg);
    background-repeat: repeat-x;
    background-size: contain;
}