/* */
.section {
    width: var(--view-width);
    position: relative;
    z-index: 1;
}
.section.head {
    height: 95vh;
    background-color: var(--accent-color);
    background-image: url(./img/poolbg.jpg);
    background-size: cover;
    z-index: 0;
}
.section.head::after {
    content: '';
    background-color: var(--accent-color);
    position: absolute;
    width: var(--view-width);
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0.8;
}


.section-container {
    width: var(--view-width);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.section-container.s1 { padding: 48px 0; }
.section-content {
    display: table;
    user-select: none;
}
.section-logo {
    max-width: 16em;
    max-height: 16em;
    width: 100%;
    height: 100%;
    background: url(./img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 4.5em auto 0px;
    opacity: 0.9;
}
.section.head .section-content {
    padding: 8px 32px;
    background: var(--transparent-box);
    backdrop-filter: blur(4px);
    margin: 2em auto 6em;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 4px 4px var(--shadow);
    width: 40em;
    max-width: 60vw;
    display: block;
}

.section-t, .section-p {
    color: #FFF;
}
.section-t {
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 0 4px 4px var(--shadow);
    margin: 8px 0px;
}
.section-t.head {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    font-family: Antonio;
}
.section-p.head {
    text-shadow: 0 3px 3px var(--shadow);
    text-align: center;
}

input.section-b.head {
    display: inline-block;
    color: #FFF;
    margin: 16px 8px 8px;
    padding: 12px 32px;
    border-radius: 4px;
    font-size: 1.2em;
    font-family: monospace;
    max-width: calc(100% - 16px);
}

input.section-b.head:hover {
    margin: 18px 8px 6px;
}

.wavy-border {
    position: absolute;
    width: 100vw;
    height: 180px;
    background-image: url(./img/waves.svg);
    background-repeat: repeat-x;
    background-size: contain;
}

.section-title {
    text-align: center;
    width: 100%;
    color: var(--accent-color2);
    display: block;
    font-family: Antonio;
    font-size: 2.5em;
    font-weight: 600;
}

.section-flexbox {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 48px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.service-list {
    max-width: 20em;
    width: 80vw;
    padding: 1em;
    margin: 16px 32px 16px;

    display: flex;
    flex-direction: column;

    background: var(--accent-color2);
    color:#FFF;
    box-shadow: 0 4px 4px var(--shadow);
    border-radius: 0.5em;
    transition: 200ms linear all;
    user-select: none;
}
.service-list:hover {
    background: var(--accent-color3);
    margin: 12px 32px 20px;
}

.service-list > *:first-child {
    font-size: 1.8em;
    font-family: Antonio;
    font-weight: 500;
    padding-bottom: 4px;
    border-bottom: 2px solid #FFF;
}
.service-list > *:last-child {
    font-weight: 600;
    padding: 4px 0px;
    border-top: 2px solid #FFF;
}

.service-list-item {
    font-size: 1.2em;
    margin: 4px 0px;
}
.service-list-item.spacer {
    flex-grow: 1;
    margin: 0;
}

.social-bar {
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-flow: row-reverse;
    position: fixed;
    width: var(--view-width);
    z-index: 10;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 4px var(--shadow);
}
.phone-box, .social-box {
    display: block;
    padding: 10px;
    height: 3em;
    width: 13em;
}
.phone-box { width: 13em; }
.social-box { width: fit-content; }
.social-b {
    background-color: var(--button-color);
    border: 0;
    color: #FFF;
    padding: 6px 24px;
    border-radius: 4px;
    transition: 200ms linear all, 50ms linear margin;
    box-shadow: 0 4px 4px var(--shadow);
    cursor: pointer;
    margin: 2px auto 2px;
    white-space: normal;
    width: -moz-fit-content;
    width: fit-content;
    display: block;
    font-size: 1.5em;
    text-shadow: 0 2px 2px #000;
}
.social-b:hover {
    background-color: var(--button-hover-color);
    margin: 4px auto 0px;
}
.social-b:active {
    background-color: var(--button-click-color);
}
.phone-box input[type="button" i] {
    font-family: 'QuickSand';
    font-weight: 600;
    font-size: 1em;
    padding: 11px 12px;
}
.social-b svg.svg-inline--fa.fa-yelp.fa-w-12 {
    filter: drop-shadow(0px 2px 2px var(--shadow));
}

form.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 30em;
    width: 80vw;
    background: var(--accent-color2);
    padding: 2em 4em;
    border-radius: 0.5em;
    margin-bottom: 48px;
    color: #FFF;
}

form.contact-form input[type='text' i],
form.contact-form input[type='email' i], 
form.contact-form textarea {
    margin: 2px 0px 24px;
    font-family: 'QuickSand';
    font-size: 1em;
    padding: 8px 12px;
    border: none;
    border-radius: 0.25em;
    background-color: var(--accent-color5);
}

.section.footer {
    background: var(--accent-color);
    padding: 48px;
    color: #FFF;
    border-top: 8px solid var(--button-color);
}

.footer svg {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -2;
}