@media only screen and (max-width: 880px) {
    :root {
        --view-width: 100vw;
    }

    .section-container {
        align-items: center;
        justify-content: center;
    }
    .section.head {
        height: 100vh;
    }
    .head .section-container {
        padding-top: 4.5em;
        margin-bottom: 8em;
        max-height: calc(100vh - 8em);
    }
    .footer .section-container {
        padding: 0;
        width: 100%;
    }
    .contact .section-container {
        margin-bottom: 4em;
    }
    .section-logo {
        max-height: 8em;
        margin: initial;
        min-height: 4em;
    }
    .section.head .section-content {
        /*all: inherit;*/
        background: none;
        backdrop-filter: initial;
        margin: initial;
        border-radius: initial;
        box-shadow: initial;
        max-width: initial;
        display: block;

        text-align: center;
        font-size: 1em;
        width: 90vw;
        height: -moz-fit-content;
        height: fit-content;
        z-index: 0;
        padding: 8px 32px;
        font-family: QuickSand;
        color: #FFF;
    }

    .social-box {
        font-size: 0.8em;
        padding: 10px 5px;
    }
    .social-box.mobile {
        display: block;
    }
    .phone-box { display: none; }
    .social-b {
        padding: 0.4em 0.8em;
        width: 1em;
        display: flex;
        justify-content: center;
    }

    form.contact-form {
        width: 100%;
        padding: 1.5em 1em;
        border-radius: initial;
        margin: initial;
    }
    form.contact-form input[type='text' i],
    form.contact-form input[type='email' i], 
    form.contact-form textarea {
        margin: 0.25em 1em 1em;
        border-radius: 0;
        font-size: 0.9em;
    }
    form.contact-form label {
        margin: 0em 1em;
        font-size: 0.8em;
    }

    .footer-text {
        font-size: 0.85em;
        margin: 0 1em;
    }
}

@media only screen and (max-width: 320px) {
    .section-p.head {
        font-size: 0.8em;
    }
}