@font-face {
  font-family: QuickSand;
  src: url(./resources/quicksand.ttf);
}
@font-face {
  font-family: Antonio;
  src: url(./resources/antonio.ttf);
}

body {
  margin: 0;
  font-family: QuickSand;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: var(--view-width);
  overflow-x: hidden;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --accent-color: rgb(57, 182, 255);
  --accent-color2: rgb(0, 73, 168);
  --accent-color3: rgb(0, 104, 240);
  --accent-color4: rgb(132, 185, 255);
  --accent-color5: rgb(203, 225, 255);
  --text-color: rgb(30, 30, 30);
  --button-color: rgb(235, 106, 0);
  --button-hover-color: rgb(255, 196, 0);
  --button-click-color: rgb(131, 69, 11);
  --transparent-box: rgba(0, 0, 0, 0.5);
  --shadow: rgba(0, 0, 0, 0.6);

  --view-width: calc(100vw - (100vw - 100%));
  --view-ratio: calc(100vw / 100vh)
}

input[type="button" i], input[type="submit" i] {
  background-color: var(--button-color);
  border: 0;
  color: #FFF;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 200ms linear all, 50ms linear margin;
  box-shadow: 0 4px 4px var(--shadow);
  cursor: pointer;
  font-family: monospace;
  margin: 2px auto 2px;
  max-width: calc(100% - 4px);
  white-space: normal;
  text-shadow: 0 2px 2px #000;
}
input[type="button" i]:hover, input[type="submit" i]:hover {
  background-color: var(--button-hover-color);
  margin: 4px auto 0px;
}
input[type="button" i]:active, input[type="submit" i]:active {
  background-color: var(--button-click-color);
}

textarea {
  resize: none;
}